body{
background-color: white;
    text-align: center;

}
.btn-primary
{
    float: center;
    border-radius: 1.5rem;
    width: 150px;
    background:white;
    cursor: pointer;
    font-weight: 600;
    color: black;
    padding:10px ;
}
body
{
    background-color: black;
}

body header
{
    float: left;
    padding-top: 10px;
    padding-left: 10px;
}
.register-right
{
    text-align: center;
    border:20px;
    background-image: linear-gradient(to bottom, rgb(255, 170, 73),rgb(248, 8, 0));;
    padding: 30px;
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 200px;
    border-top-right-radius: 20% 60%;
    border-bottom-right-radius:20% 60% ;
    border-top-left-radius: 20% 60%;
    border-bottom-left-radius:20% 60% ;
}