
.top-nav-bar
{
    height: 75px;
    top: 0;
    position: sticky;
    background:black;
    margin-bottom: 20px;
    border-bottom: 3px solid black;
    z-index: 2;
}
.form-controller
{
    width: 1000px;
    height: 40px;
    margin-top: 12px;
    margin-left: 125px;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    box-shadow: none;
}
.input-group-text
{
    height: 40px;
    background:#ff9800 !important;
    border: 1px solid black !important;
    margin: 12px 20px 3px 0 !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    cursor: pointer;
}
.logo
{
    height: 70px;
    margin: 0 10px;
}
.search-box
{
    width: 60%;
    display: inline-flex;
}

.fa-search
{
    color: black;
}
.menu-bar
{
  width: 40%;
  height: 75px;
  float: right;  
}
.menu-bar ul
{
    display: inline-flex;
    float: right;
}
.menu-bar ul li
{
    list-style-type: none;
    padding: 15px 25px;
    text-align: center;
    cursor: pointer;
}
.menu-bar ul li
{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.menu-bar a{
    color:#ff9800;
}
.menu-bar a:hover{
    color:white;
}
.footer
{
    background: rgb(110, 110, 110);
    color: #d3d3d3;
    height: 300px;
    position: relative;
}
.footer .footer-content
{
    display: flex;
}
.footer .footer-content .footer-section
{
    flex: 1;
    padding: 30px;
}
.footer .footer-content .contact .span
{
    display: block;
    font-size: 1.1lem;
    margin-bottom: 8px;
}

.footer .footer-content .contact-form .contact-input
{
    background: rgb(53, 53, 53);
    color: gainsboro;
    line-height: 1.5rem;
    margin-bottom: 5px;
    padding: .7rem 1.2rem;
    border: none;
}