html{
    overflow-y: scroll ;
    height: 100%;
}

body{
    background: linear-gradient(to right, rgba(255, 170, 73, 0.712),rgba(248, 8, 0, 0.637)),url(images/bg.png);
        margin-top: 0px !important;
        height: 100%;
}
.top-nav-bar
{
    height: 75px;
    top: 0;
    position: sticky;
    background: rgb(110, 110, 110);
    margin-bottom: 20px;
    border-bottom: 3px solid black;
    z-index: 2;
}
.logo
{
    height: 70px;
    margin: 0 10px;
}
.form-controller
{
    width: 1000px;
    height: 40px;
    margin-top: 12px;
    margin-left: 125px;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    box-shadow: none;
}
.input-group-text
{
    height: 40px;
    background: rgb(129, 0, 0) !important;
    border: 1px solid black !important;
    margin: 12px 20px 3px 0 !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    cursor: pointer;
}
.search-box
{
    width: 60%;
    display: inline-flex;
}
.form-controller:focus
{
    background: rgb(255, 242, 130);
}
.fa-search
{
    color: rgb(255, 242, 130);
}
.menu-bar
{
  width: 40%;
  height: 75px;
  float: right;  
}
.menu-bar ul
{
    display: inline-flex;
    float: right;
}
.menu-bar ul li
{
    list-style-type: none;
    padding: 15px 25px;
    text-align: center;
    cursor: pointer;
}
.menu-bar ul li
{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.menu-bar a{
    color:  rgb(255, 242, 130);
}
.menu-bar a:hover{
    color:  rgb(255, 208, 0);
}


.container
{
    min-height: 100%;
}

.register-left
{
    text-align: center;
    color:rgb(255, 255, 255);
    padding: 30px;
}
.register-left img
{
margin-top: 200px;
margin-bottom: 18px;
width: 300px;
margin-right: 0px;
animation: mover 1s infinite alternate;
}

.register-left p
{
    padding: 20px 20px 0;
}
.register-right
{
    margin-top: 100px;
    border:20px;
    background-color: #f8f8f8de;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius:10% 50% ;
    padding: 30px;
    margin-bottom: 100px;
}
.register-right h2
{
    text-align: center;
    margin-bottom: 10px;
    color: #555;
}
.register-form
{
    padding: 30px;
}
.register-right .btn-primary
{
    float: center;
    border-radius: 1.5rem;
    border:none;
    width: 150px;
    background: rgb(129, 0, 0);
    font-weight: 600;
    color: #fff;
    margin-top: 0px;
    padding:10px ;
}
.register-right .btn-primary:hover
{
    background: #000;
}

@keyframes mover
{

0%{transform:translateY(0);}
100%{transform:translateY(-30px);}

}
.footer
{
    background: rgb(110, 110, 110);
    color: #d3d3d3;
    height: 300px;
    position: relative;
}
.footer .footer-content
{
    display: flex;
}
.footer .footer-content .footer-section
{
    flex: 1;
    padding: 30px;
}
.footer .footer-content .contact .span
{
    display: block;
    font-size: 1.1lem;
    margin-bottom: 8px;
}

.footer .footer-content .contact-form .contact-input
{
    background: rgb(53, 53, 53);
    color: gainsboro;
    line-height: 1.5rem;
    margin-bottom: 5px;
    padding: .7rem 1.2rem;
    border: none;
}

