html
{
    overflow-y: scroll ;
    height: 100%;
}

body
{
    background-image: linear-gradient(to right, rgb(255, 170, 73),rgb(248, 8, 0));
    margin-top: 150px !important;
    height:100%;    
}

.loginbox
{
	width:350px;
	height:450px;
	background: #000;
	color: #fff;
	top:50%;
	left: 50%;
	position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding:70px 30px;
    
}
.avatar
{
    width:100px;
    height: 100px;
    border-radius: 50%;
    position: absolute ;
    top: -50px;
    left: calc(50% - 50px);
}
h1
{
    margin:0;      
    padding: 0 0 20px;
    text-align: center;                       
    font-size: 22px;
}
.loginbox p
{
    margin: 0;
    padding: 0;
    
}
.loginbox input[type="text"],input[type="password"]
{
    border:none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff ;
    font-size: 16px;
}
.loginbox input[type="submit"]
{
    border:none;
    outline: none;
    background: #ff9800;
    color: #000;
    font-size: 18px;
    border-radius: 20px;
    padding:10px 22px;
    font-size: 16px;
}
.loginbox input[type="submit"]:hover
{
    cursor:pointer;
    background: #ffc107;
    color: #000;
        
}
.loginbox a
{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}
.loginbox fp
{
margin-left :65px;
}
.loginbox form
{
    text-align: center;
}
.loginbox input[type="button"]
{
    border:none;
    outline: none;
    background: #ff9800;
    color: #000;
    font-size: 18px;
}
.loginbox p1
{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;

}
.wrapper
{
    min-height: 100%;
}
.footer
{
    background: rgb(58, 58, 58);
    color: #d3d3d3;
    height: 200px;
}
.footer .footer-content
{
    display: flex;
}
.footer .footer-content .footer-section
{
    flex: 1;
    padding: 30px;
}

.footer .footer-content .contact-form .contact-input
{
    background: rgb(87, 87, 87);
    color: gainsboro;
    line-height: 1.5rem;
    margin-bottom: 5px;
    padding: .7rem 1.2rem;
    border: none;
}
.footer