html{
    overflow-y: scroll;
}

body{
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0.712),rgba(250, 112, 0, 0.637)),url(images/bg.png);
        margin-top: 0px !important;
        height: 100%;
}

/*header*/
.top-nav-bar
{
    height: 75px;
    top: 0;
    position: sticky;
    background:rgb(56, 44, 44);
    margin-bottom: 20px;
    border-bottom: 3px solid black;
    z-index: 2;
}
.form-controller
{
    width: 1000px;
    height: 40px;
    margin-top: 12px;
    margin-left: 125px;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    box-shadow: none;
}
.input-group-text
{
    height: 40px;
    background:#ff9800 !important;
    border: 1px solid black !important;
    margin: 12px 20px 3px 0 !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    cursor: pointer;
}
.logo
{
    height: 70px;
    margin: 0 10px;
}
.search-box
{
    width: 60%;
    display: inline-flex;
}

.fa-search
{
    color: black;
}
.menu-bar
{
  width: 40%;
  height: 75px;
  float: right;  
}
.menu-bar ul
{
    display: inline-flex;
    float: right;
}
.menu-bar ul li
{
    list-style-type: none;
    padding: 15px 25px;
    text-align: center;
    cursor: pointer;
}
.menu-bar ul li
{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.menu-bar a{
    color:#ff9800;
}
.menu-bar a:hover{
    color:white;
}

.category
{
    margin-top: 5px;
    background-color: rgba(77, 77, 77, 0.678);
    height: 45px;
    position: sticky;
    z-index: 2;
}
.dropbtn {
    background: none;
    color: rgb(255, 242, 130);
    padding: 10px;
    font-size: 16px;
    border: none;
  }
.dropdowns
{
    padding-left: 130px;
    padding-right: 60px;
    position: relative;
    display: inline-block;
}   
.dropdown {
    padding-left: 60px;
    padding-right: 60px;
    position: relative;
    display: inline-block;
  }
  .dropdowne
  {
    padding-left: 60px;
    padding-right: 200px;
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f8e5dc;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {color:rgb(255, 208, 0);;}

  .dropdowns:hover .dropdown-content {display: block;}
  
  .dropdowns:hover .dropbtn {color: rgb(255, 208, 0);}

  .dropdowne:hover .dropdown-content {display: block;}
  
  .dropdowne:hover .dropbtn {color:rgb(255, 208, 0);}

/*header*/

.container
{
    min-height: 100%;
}
.register-left
{
    text-align: center;
    color:rgb(255, 255, 255);
    padding: 30px;
}
.register-left img
{
margin-top: 200px;
margin-bottom: 18px;
width: 300px;
margin-right: 0px;
animation: mover 1s infinite alternate;
}

.register-right
{
    margin-top: 40px;
    border:20px;
    background-color: #f8f8f8de;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius:10% 50% ;
    padding: 10px;
    margin-bottom: 70px;
}
.register-right h2
{
    text-align: center;
    margin-bottom: 10px;
    color: #555;
}
.register-form
{
    padding: 30px;
}
.register-right .btn-primary
{
    float: center;
    border-radius: 1.5rem;
    border:none;
    width: 150px;
    background: rgb(129, 0, 0);
    font-weight: 600;
    color: #fff;
    margin-top: 0px;
    padding:10px ;
}
.register-right .btn-primary:hover
{
    background: #000;
}

@keyframes mover
{

0%{transform:translateY(0);}
100%{transform:translateY(-30px);}

}

/*footer*/
.footer
{
    background: rgb(56, 44, 44);
    color: #d3d3d3;
    height: 300px;
    position: static;
}
.footer .footer-content
{
    display: flex;
}
.footer .footer-content .footer-section
{
    flex: 1;
    padding: 30px;
}
.footer .footer-content .contact .span
{
    display: block;
    font-size: 1.1lem;
    margin-bottom: 8px;
}

.footer .footer-content .contact-form .contact-input
{
    background: rgb(56,44,44);
    color: gainsboro;
    line-height: 1.5rem;
    margin-bottom: 5px;
    padding: .7rem 1.2rem;
    border: none;
}
/*footer*/
