.register-right
{
    text-align: center;
    border:20px;
    background-image: linear-gradient(to bottom, rgb(255, 170, 73),rgb(248, 8, 0));;
    padding: 30px;
    margin-top: 80px;
    margin-left: 300px;
    margin-right: 300px;
    border-top-right-radius: 10% 50%;
    border-bottom-right-radius:15% 50% ;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius:15% 50% ;
}
.btn-primary
{
    float: center;
    border-radius: 1.5rem;
    width: 150px;
    background:white;
    cursor: pointer;
    font-weight: 600;
    color: black;
    padding:10px ;
}
body
{
    background-color: black;
}
