html{
    overflow-y: scroll ;
    height: 100%;
}

body{
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0.712),rgba(250, 112, 0, 0.637)),url(images/bg.png);
        margin-top: 0px !important;
        height: 100%;
}

/*header*/
.top-nav-bar
{
    height: 75px;
    top: 0;
    position: sticky;
    background: rgb(0, 0, 0);
    margin-bottom: 20px;
    border-bottom: 3px solid black;
    z-index: 2;
}
.logo
{
    height: 70px;
    margin: 0 10px;
}
.form-controller
{
    width: 1000px;
    height: 40px;
    margin-top: 12px;
    margin-left: 125px;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    box-shadow: none;
}
.input-group-text
{
    height: 40px;
    background: rgb(129, 0, 0) !important;
    border: 1px solid black !important;
    margin: 12px 20px 3px 0 !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    cursor: pointer;
}
.search-box
{
    width: 60%;
    display: inline-flex;
}
.form-controller:focus
{
    background: rgb(255, 242, 130);
}
.fa-search
{
    color: rgb(255, 242, 130);
}
.menu-bar
{
  width: 40%;
  height: 75px;
  float: right;  
}
.menu-bar ul
{
    display: inline-flex;
    float: right;
}
.menu-bar ul li
{
    list-style-type: none;
    padding: 15px 25px;
    text-align: center;
    cursor: pointer;
}
.menu-bar ul li
{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.menu-bar a{
    color:  rgb(255, 242, 130);
}
.menu-bar a:hover{
    color:  rgb(255, 208, 0);
}

.category
{
    margin-top: 5px;
    background-color: rgba(77, 77, 77, 0.678);
    height: 45px;
    position: sticky;
    z-index: 2;
}
.dropbtn {
    background: none;
    color: rgb(255, 242, 130);
    padding: 10px;
    font-size: 16px;
    border: none;
  }
.dropdowns
{
    padding-left: 200px;
    padding-right: 60px;
    position: relative;
    display: inline-block;
}   
.dropdown {
    padding-left: 60px;
    padding-right: 60px;
    position: relative;
    display: inline-block;
  }
  .dropdowne
  {
    padding-left: 60px;
    padding-right: 200px;
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f8e5dc;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {color:rgb(255, 208, 0);;}

  .dropdowns:hover .dropdown-content {display: block;}
  
  .dropdowns:hover .dropbtn {color: rgb(255, 208, 0);}

  .dropdowne:hover .dropdown-content {display: block;}
  
  .dropdowne:hover .dropbtn {color:rgb(255, 208, 0);}

/*header*/

/*body*/
#img0{
            height: 200px;
            width: 200px;
            float:left;
        }
        p1,p2{
            font-size: 18px;
            
        }
/*body*/

/*footer*/
.footer
{
    background: rgb(56, 44, 44);
    color: #d3d3d3;
    height: 290px;
    position: relative;
}
.footer .footer-content
{
    display: flex;
}
.footer .footer-content .footer-section
{
    flex: 1;
    padding: 30px;
}
.footer .footer-content .contact .span
{
    display: block;
    font-size: 1.1lem;
    margin-bottom: 8px;
}

.footer .footer-content .contact-form .contact-input
{
    background: rgb(53, 53, 53);
    color: gainsboro;
    line-height: 1.5rem;
    margin-bottom: 5px;
    padding: .7rem 1.2rem;
    border: none;
}
/*footer*/
